<nav class="navbar  fixed-top navbar-expand-md navbar-light">
  <div class="container-fluid">
      <a routerLink="/" class="navbar-brand" style="color:#5C899F;">
          <img alt="" src="../assets/images/picwish.png" style="height:50px;width:40px;border-radius: 6px;">馬丁出外人</a>
      <button class="navbar-toggler" type="button" style="border: none;text-align: center;padding-left: 0px;" data-bs-toggle="collapse" data-bs-target="#navbarMain"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color:honeydew;border: none;"><img alt="menu" src="../assets/images/menu3.png" style="height:30px;width:40px;border-radius: 5px;"></span>
      </button>
      <div id="navbarMain" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">資訊分享</a>
                  <ul class="dropdown-menu">
                      <li><a routerLink="/data/exchange"  class="dropdown-item">今日匯率</a></li>
                      <li><a routerLink="/data/weather"  class="dropdown-item">天氣快報</a></li>
                      <li><a href="https://familyaccounting.herokuapp.com/" target="newpage" class="dropdown-item">記帳網站</a></li>
                      <li><a href="https://engwordsv2.herokuapp.com/" target="newpage"  class="dropdown-item">英文生字</a></li>
                   </ul>
              </li>
          </ul>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">關於</a>
                  <ul class="dropdown-menu">
                      <li><a routerLink="" class="dropdown-item">首頁</a></li>
                      <li><a routerLink="opdoc" class="dropdown-item">使用說明</a></li>
                      <li *ngIf="isLoggedIn()"><a routerLink="suggest" class="dropdown-item">批評意見</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" *ngIf="!isLoggedIn()">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownpay" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">會員中心</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownpay">
                      <a routerLink="login" class="dropdown-item">登入</a>
                      <a routerLink="register" class="dropdown-item">註冊</a>
                      <a routerLink="forgetpws" class="dropdown-item">忘記密碼</a>
                      <a routerLink="setuser" class="dropdown-item" *ngIf="isAdmin()">會員管理</a>
                  </ul>
              </li>
              <li class="nav-item dropdown" *ngIf="isLoggedIn()">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false" >{{getUsername()}}</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" (click)="doLogout()">登出</a></li>
                      <li><a routerLink="changepws" class="dropdown-item">修改密碼</a></li>
                      <li><a routerLink="payrecord" class="dropdown-item" *ngIf="isSystemAdmin()">儲值登記</a></li>
                      <li><a routerLink="createmember" class="dropdown-item" *ngIf="isAdmin()">管理成員</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div class="container content">
  <router-outlet></router-outlet>
  <footer class="navbar fixed-bottom">
      <div class="row">
          <div class="col-12" style=" color: #5C899F;">
              <small>&copy;2022 潘丁瑜設計開發 </small><span>***歡迎蒞臨馬丁出外人資料分享網站***</span>
          </div>
      </div>
  </footer>
</div>